*{
    margin: 0;
    padding: 0;
}
img {
    width: 150px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
/* Style da minha parte superior (contem links e habilidades)*/
.header {
    background-color: #003249;
    padding: 15px;
}
.header div {
    width: 900px;
    margin: auto;
    text-align: center;
}
.header h3{
    display: inline-block;
    color: #CCDBDC;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px;
}
.header h3:hover {
    background-color: #CCDBDC;
    color: #003249;
    border-color: orange;
}
.header h3:nth-of-type(1) {
    margin-right: 300px;
}
.subheader {
    padding: 50px;
    background-color: darkslategrey;
}
.subheader-int {
    width: 900px;
    height: 205px;
    margin: auto;
    border: 2px solid #003249;
    border-radius: 20px;
    color: #ccc;
}
.subheader-int h1 {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    margin-left: 180px;
    margin-top: 10px;
}
.subheader-int img {
    width: 150px;
    float: left;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 100px;
    border: 3px solid #003249;
    
}
.subheader-int p {
    padding: 15px;
    margin-left: 170px;
    line-height: 18px;
}
.prefooter {
    background-color: aqua;
    padding: 50px;
}
.prefooter-int {
    width: 900px;
    padding: 30px;
    margin: auto;
}
.prefooter-int li {
    list-style: none;
}
.prefooter-int .ulp {
    display: inline-block;
    width: 300px;
    padding: 50px;
    border: 2px solid #003249;
    border-radius: 20px;
    line-height: 18px;
}
.prefooter-int .uls {
    display: inline-block;
    width: 300px;
    padding: 40px;
    margin-left: 100px;
    border: 2px solid #003249;
    border-radius: 20px;
    line-height: 18px;
}
.prefooter-int li:nth-of-type(1) {
    margin-top: 15px;
}