*{
    margin: 0;
    padding: 0;
}
img {
    width: 150px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #9AD1D4;
}
.header-eu {
    margin: auto;
}
.header-eu h1 {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
}
.header-eu p {
    display: inline-block;
}
.header {
    padding: 20px;
    margin: 50px;
}